# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
out
gen
.idea/
web-mvc-demo1.iml

/src/main/webapp/WEB-INF/classes/
